body{ background: lightblue; 
color: Black; 
font-size: 14pt; }

body {font-family:'Merriweather', sans-serif;}



nav li{display:inline; border:
padding:3px; margin:5px; background:;}

	a {color:darkred;
	text-decoration: underline}
	a:hover{color:green}

	.title{font-weight: bold; text-decoration: underline; font-size:250%;}
	
	.picture{position: relative; height:100%; width:100%;}
	
ul img{float:left;height:200px; width:300px;padding-left:10px}

	
	h2{position: absolute; top: 50px;left:0;width: 100%}